@import url("reset.css");






.card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    flex: 1;
    padding: 1em;
}

.container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio (9 / 16 * 100) */

}

.img-cont {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: red;

    &:has(img) {
        padding-top: 0;
    }

}


.modal {
    background-color: black;
    position: relative;
    width: 80%;
    height: 80%;
    resize: both;
    overflow: hidden;


    &::backdrop {
        background-color: rgba(0, 0, 0, 0.719);
    }

    & iframe {
        width: 100%;
        height: 100%;
    }

    & button {
        position: absolute;
        display: block;
        margin-bottom: .5em;
        padding: 1em;
        background-color: rgb(0, 255, 191);
        font-weight: 700;
        z-index: 2;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        border-radius: 3em;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            background-color: red;
        }
    }
}